// Couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Couleurs de fond
$color-background-light: #f6f6f6;
$color-background-dark: #eaeaea;

// Couleurs de texte
$color-text-dark: #333;
$color-text-light: #666;

// Couleurs d'état
$color-success: #99E2D0;
$color-error: #FF79DA;